&cdc_acm_uart0 { // micro ros publishing port
    current-speed = <115200>;
};

&usart1 { // debug uart
    current-speed = <115200>;
};

&i2c2 {
    status = "okay"; // Enable I2C2
    ism330dlc: ism330dlc@6b { // Plugged in on 1
        status = "okay";
        compatible = "st,ism330dlc";
        drdy-gpios = <&mb1 15 GPIO_ACTIVE_HIGH>, 
                     <&mb1  1 GPIO_ACTIVE_HIGH>;
        accel-odr   = <6>;      // 416Hz 
        gyro-odr    = <6>;      // 416Hz
        accel-range = <2>;      // 2g
        gyro-range  = <125>;    // 125 dps
        reg = <0x6b>;
    };
};


/ {
    chosen {
        zephyr,console = &usart1;
        zephyr,shell-uart = &usart1;
    };
};

&timers14 {
    status = "okay";
    /* Divide 108 MHz timer clock by 1080 → 100 kHz:
       20 ms → 2000 cycles fits in 16-bit ARR            */
    st,prescaler = <1079>;          /* PSC register value */
    
    pwm14: pwm {
        compatible = "st,stm32-pwm";
        status = "okay";
        pinctrl-0 = <&tim14_ch1_pf9>;
        pinctrl-names = "default";
    };
};

/* 3. Servo driven by TIM14_CH1 */
 / {
    steeringservo: servo {
        compatible = "pwm-servo";
        pwms = <&pwm14 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(1000)>;
        max-pulse = <PWM_USEC(2100)>;
    };
};

