&cdc_acm_uart0 { // micro ros publishing port
    current-speed = <115200>;
};

&usart1 { // debug uart
    current-speed = <115200>;
};

&i2c2 {
    status = "okay";
    bmi160: bmi160@69 {
        compatible = "bosch,bmi160";
        reg = <0x69>;
        int-gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
        label = "BMI160";
        status = "okay";
    };
};

/ {
    chosen {
        zephyr,console = &usart1;
        zephyr,shell-uart = &usart1;
    };
};