#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/timer/stm32-timer.h>

&cdc_acm_uart0 {
    current-speed = <115200>;
};

&hdr-uart1 {
    current-speed = <115200>;
};

&mb1-i2c {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    ism330dlc: ism330dlc@6b {
        status = "okay";
        compatible = "st,ism330dlc";
        drdy-gpios = <&mb1 15 GPIO_ACTIVE_HIGH>,
                     <&mb1  1 GPIO_ACTIVE_HIGH>;
        accel-odr = <8>;
        gyro-odr = <8>;
        accel-range = <2>;
        gyro-range = <125>;
        reg = <0x6b>;
    };
};

&iwdg {
    status = "okay";
};

/* PWM Output timers - silkscreen label in comments */
&hdr-pwm34-tmr {
    status = "okay";
    st,prescaler = <107>;
    pwm2: pwm {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim2_ch3_pb10 &tim2_ch4_pb11 &tim2_ch1_pa5 &tim2_ch2_pa1>; // P2, P3, P11, PA1
        pinctrl-names = "default";
    };
};

